version: '3.0'
services: 
    server: 
        build: .
        ports: 
            - "3000:5000"
        depends_on: 
            - "mongo"
    mongo:
        image: mongo
        environment: 
            MONGO_INITDB_DATABASE: space
        volumes: 
            - ./mongo-volue:/data/db